@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);
body{
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: #131313;
}

.table{
    
  
position: absolute;
width: 1146px;
height: 222px;
left: 387px;
top: 222px;


}

.line {

    border-bottom: 1px solid #272727;
    height: 60px;
}

.td1{
 padding-left: 24px;
width: 214px;
height: 53px;
left: 412px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border-left: 1px solid #272727;
border-bottom: 1px solid #272727;
align-items: center;



color: #FFFFFF;
}
.td2{
      
width: 214px;
height: 53px;
left: 702px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

align-items: center;
border-bottom: 1px solid #272727;
color: #FFFFFF;
}
.td3{
    
    width: 214px;
height: 53px;
left: 1002px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
border-bottom: 1px solid #272727;
align-items: center;

color: #FFFFFF;
}
.td4{
    
width: 214px;
height: 53px;
left: 1302px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
align-items: center;
border-right: 1px solid #272727;
color: #FFFFFF;
border-bottom: 1px solid #272727;
}

.hipe{
    position: absolute;
    width: 177px;
    height: 59px;
    left: 387px;
    top: 0px;
    
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #1ACD4C;
}

.number{
    position: absolute;
width: 214px;
height: 75px;
left: 502px;
top: 0px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.glavnaya{
    
position: absolute;
width: 1014px;
height: 59px;
left: 519px;
top: 17px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;

align-items: center;
text-align: right;
text-transform: uppercase;

color: #FFFFFF;
}

.th1{
    
width: 151px;
height: 23px;
left: 407px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;

align-items: center;
text-transform: uppercase;
border-bottom: 1px solid #272727;

color: #727272;
}

.th2{
 width: 204px;
height: 23px;
left: 697px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
border-bottom: 1px solid #272727;

text-transform: uppercase;

color: #727272;
}

.th3{
   
width: 204px;
height: 23px;
left: 997px;
top: 222px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
text-transform: uppercase;
border-bottom: 1px solid #272727;
color: #727272;
}
.th4{
 width: 204px;
height: 23px;
left: 1297px;
top: 222px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
border-bottom: 1px solid #272727;ign-items: center;
text-transform: uppercase;

color: #727272;
}
.history{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 387px;
    top: 150px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    
    color: #FFFFFF;
     
}
.historyblack{
    color: #272727;
}
.paginaciya{
    display: inline-block;
}
.rightarrow{
    position: absolute;
width: 147px;
height: 0px;
left: 1071px;
top: 870px;
}
.leftarrow{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 681px;
    top: 870px;


}
.one{
    position: absolute;
width: 44px;
height: 35px;
left: 877px;
top: 860px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #4F4F4F;
}
.two{
    position: absolute;
width: 44px;
height: 35px;
left: 921px;
top: 860px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.four{
    position: absolute;
width: 44px;
height: 35px;
left: 965px;
top: 860px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.five{
    position: absolute;
width: 44px;
height: 35px;
left: 1009px;
top: 860px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
a { text-decoration: none; }